spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dentalClinic
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: 128MB
      max-request-size: 128MB

app:
  jwt-secret: f2a8eaca88afbce3d63682f93dfd1a7b9c849ad4fc1fd16c3fc6234d60f773f0
  jwt-expiration-milliseconds: 604880000

server:
  port: 8080
